/**
 * Block: Media & Text
 */

.wp-block-media-text {
	// Change mobile breakpoint for media & text block.
	// This will override breakpoint that core sets (max-width: 600px).
	@screen max-sm {
		&.is-stacked-on-mobile {
			grid-template-columns: 100% !important; // Important is needed to override possible inline style if media size is changed manually from block settings.
		
			.wp-block-media-text__media {
				grid-column: 1;
				grid-row: 1;
			}
			.wp-block-media-text__content {
				grid-column: 1;
				grid-row: 2;
			}
		}
	}

	.wp-block-media-text__content {
		// Override core paddings for content.
		padding-top: var(--wp--style--root--padding-top);
		padding-left: var(--wp--style--root--padding-left);
		padding-bottom: var(--wp--style--root--padding-bottom);
		padding-right: var(--wp--style--root--padding-right);
	}

	// Limit content width when the block is set as full width (commonly used by Avidly designers).
	// Applies only larger screen size AND block that do not have manually changed media size.
	// Note: This doesn't calculate the scrollbar width that can be something between 12-20px.
	@screen sm {
		&.alignfull:not([style*="grid-template-columns"]) {
			.wp-block-media-text__content {
				max-width: calc( var(--wp--style--global--wide-size) / 2 - var(--wp--style--block-gap) * 2);
			}
			&.has-media-on-the-right .wp-block-media-text__content {
				justify-self: end;
			}
		}
	}
}