/**
 * Block: Search
 */
.wp-block-search {
    position: relative !important; // Fix for Relevanssi Live Search position.

    .relevanssi-live-search-results {
        // Fix Relevanssi live search position.
        top: 100% !important;
        left: 0 !important;
        min-width: 100% !important;
    }
}
