/**
 * Cookiebot support
 * Add default styling to display embed area if cookiebot blocks it.
 */

.wp-block-embed__wrapper {
	background: var(--wp--preset--color--lightgray);
	display: flex;
	align-items: center;
	justify-content: center;
}

.cookieconsent-optout-marketing {
	padding: var(--wp--preset--spacing--md);
}