/**
 * Block: Avidly accordion.
 */
 
.wp-block-avidly-accordion {
	padding: 0;
	margin-bottom: 0.5em;

	&__trigger {
		padding: 1em 2.5em 1em 1em;
		position: relative;
		background-color: var(--wp--preset--color--lightgray);
		width: 100%;
		text-align: left;

		// Chevron.
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			width: 0.5em;
			height: 0.5em;

			border-style: solid;
			border-width: 0.15em 0.15em 0 0;
			display: inline-block;
		}

		// Chevron / close.
		&[aria-expanded="false"]::after {
			right: 1.15em;
			transform: rotate(135deg) translateX(-50%);
		}

		// Chevron / open.
		&[aria-expanded="true"]::after {
			right: 0.75em;
			transform: rotate(-45deg) translateY(-50%);
		}
	}

	&__content {
		padding: 1em;
		border: 1px solid var(--wp--preset--color--lightgray);

		> *:last-child {
			margin-bottom: 0;
		}
	}
}

