/**
 * Front end widths.
 */
.container > *,
.container > .wp-block-image, // Fix core inline style that sets x margin to 0 for images.
.container > figure, // Fix core inline style that sets x margin to 0 for tables, galleries and pullquotes.
.alignwide {
	@apply mx-auto;
}

.container > * {
	@apply max-w-screen-md;
}
 
.alignwide,
.alignwide > .alignwide {
	@apply max-w-screen-lg;
}
 
.alignfull,
.alignfull > .alignfull {
	@apply max-w-none;
}

.container > *:not(.has-background):not(.site-header):not(.alignfull):not(ul):not(ol),
.alignwide.has-background,
.alignfull.has-background,
.alignwide:not(.has-background) > .alignwide,
.alignfull:not(.has-background) > .alignfull {
	@apply px-4;
}


/**
 * Content padding fixes.
 */
.has-background,
p.has-background {
	@apply p-4;
}

.entry-content > *:last-child:not(.has-background) {
	@apply mb-12;
}