/**
 * Layout helpers.
 */

// - - - - - - - - - - - - - - - - - - - - - - -
// START: global styles stolen from TwentyTwenty-Three.
// - - - - - - - - - - - - - - - - - - - - - - -

// Global spacings.
.has-global-padding {
	margin-top: 0;
	padding-right: var(--theme--blocks--global-spacing);
	padding-left: var(--theme--blocks--global-spacing);

	:where(.has-global-padding) {
		padding-right: 0;
		padding-left: 0;
	}

	> .alignfull {
		margin-right: calc(var(--theme--blocks--global-spacing) * -1);
		margin-left: calc(var(--theme--blocks--global-spacing) * -1);
	}

	:where(.has-global-padding) > .alignfull {
		margin-right: 0;
		margin-left: 0;
	}
}

// Main level blocks.
.wp-site-blocks {
	> .alignleft {
		float: left;
		margin-right: var(--theme--blocks--global-spacing);
	}

	> .alignright {
		float: right;
		margin-left: var(--theme--blocks--global-spacing);
	}

	> .aligncenter {
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
	}

	> * {
		margin-block-start: 0;
		margin-block-end: 0;
	}
}
// - - - - - - - - - - - - - - - - - - - - - - -
// END: global styles stolen from TwentyTwenty-Three.
// - - - - - - - - - - - - - - - - - - - - - - -


// Special elements with BG color
.wp-block.has-background {
    padding: var(--theme--blocks--global-spacing);
}
