/**
 * Front end widths.
 */
.container > *,
.container > .wp-block-image, // Fix core inline style that sets x margin to 0 for images.
.container > figure, // Fix core inline style that sets x margin to 0 for tables, galleries and pullquotes.
.alignwide {
	@apply mx-auto;
}

.container > * {
	max-width: var(--theme--layout--contentSize);

	// 3.4.0: Fix spacing for small screens and 200% font size.
	width: calc( 100% - ( var(--wp--style--block-gap) * 2 ) ) !important;
	margin-left: max( calc((100vw - var(--theme--layout--contentSize)) / 2 ), var(--wp--style--block-gap) );
	margin-right: max( calc((100vw - var(--theme--layout--contentSize)) / 2 ), var(--wp--style--block-gap) );
}
 
.alignwide,
.alignwide > .alignwide {
	max-width: var(--theme--layout--wideSize);
	@apply mx-auto;
}
 
.alignfull,
.alignfull > .alignfull {
	@apply max-w-none;
	@apply mx-auto;

	// 3.4.0: Fix spacing for small screens and 200% font size.
	width: 100% !important;
}
