/**
 * Disclosure menu.
 */
 
.mobile-menu-toggle::after {
	content: '';
	@apply absolute;
	@apply top-0;
	@apply left-0;
	@apply w-full;
	@apply h-full;
}

.disclosure-menu-toggle::after {
	content: '+';
	@apply absolute;
	@apply top-1/2;
	@apply left-1/2;
	transform: translate(-50%, -50%);
}

.disclosure-menu-toggle[aria-expanded="true"]::after {
	content: '-';
}