/**
 * Block: List.
 */
 ul[data-type="core/list"]:not(.list-none),
.entry-content ul:not(.list-none):not([class^="wp-block"]):not(.grid) {
	@apply list-disc;
	@apply list-inside;
	@apply pl-5;
}

ol[data-type="core/list"]:not(.list-none),
.entry-content ol:not(.list-none):not([class^="wp-block"]):not(.grid) {
	@apply list-decimal;
	@apply list-inside;
	@apply pl-5;
}