/**
 * Block: Image.
 */

.wp-block-media-text{
	&.has-background {
		@apply p-0;
	}

	&:not(.alignfull) .wp-block-media-text__content {
		padding: var(--theme--clamp--block-gap) !important; // Override core block style.
	}

	// Custom padding for full width elements.
	&.alignfull {
		.wp-block-media-text__content {
			padding: var(--theme--clamp--block-gap);
			padding-right: clamp( var(--wp--style--block-gap), calc( 50vw -  var(--theme-offset-wideSize) ), 50vw );
		}

		&.has-media-on-the-right .wp-block-media-text__content {
			padding: var(--theme--clamp--block-gap);
			padding-left: clamp( var(--wp--style--block-gap), calc( 50vw -  var(--theme-offset-wideSize) ), 50vw );
		}
	}
}