/**
 * Block: Image.
 */

.wp-block-media-text {
	// Change mobile breakpoint for media & text block.
	// This will override breakpoint that core sets: (max-width: 600px)
	@media ( max-width: 767px ) {
		&.is-stacked-on-mobile {
			grid-template-columns: 100%;
		
			.wp-block-media-text__media {
				grid-column: 1;
				grid-row: 1;
			}
			.wp-block-media-text__content {
				grid-column: 1;
				grid-row: 2;
			}
		}
	}

	&.has-background {
		@apply p-0;
	}

	&:not(.alignfull) .wp-block-media-text__content {
		padding: var(--theme--clamp--block-gap) !important; // Override core block style.
	}

	// Custom padding for full width elements.
	&.alignfull {
		.wp-block-media-text__content {
			padding: var(--theme--clamp--block-gap);
			padding-right: clamp( var(--wp--style--block-gap), calc( 50vw -  var(--theme-offset-wideSize) ), 50vw );
		}

		&.has-media-on-the-right .wp-block-media-text__content {
			padding: var(--theme--clamp--block-gap);
			padding-left: clamp( var(--wp--style--block-gap), calc( 50vw -  var(--theme-offset-wideSize) ), 50vw );
		}
	}
}