
@tailwind utilities;


// Custom utilities can be used with Tailwind
// responsive variants: https://tailwindcss.com/docs/responsive-design
// and state variants: https://tailwindcss.com/docs/hover-focus-and-other-states
@layer utilities {

	// Custom utility to create link that covers the parent element.
	// Add the utility to parent element.
	.link-element {
		position: relative;
		overflow: hidden;

		a:not([target="_blank"])::after {
			content: '';
			@apply absolute;
			@apply z-10;
			@apply top-0 left-0;
			@apply w-full h-full;
		}

		figure,
		.wp-block-cover {
			overflow: hidden;
		}

		img {
			transition-property: transform;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			transition-duration: 1s;
			transform: scale(1);
		}

		&:hover img {
			transform: scale(1.1);
		}
	}

	// Extend link decoration to inner element
	.no-underline a {
		text-decoration: none !important;
	}
}