
@tailwind utilities;

@layer utilities {
	.has-text-color:not(.has-link-color) a {
		@apply text-current;
	}

	:focus-visible {
		@apply outline-offset-[3px];
	}

	.link-element {
		@apply relative;

		a::after {
			content: '';
			@apply absolute;
			@apply top-0;
			@apply left-0;
			@apply w-full;
			@apply h-full;
		}

		figure {
			@apply overflow-hidden;
		}

		img {
			@apply transition-transform duration-1000 ease-out;
			@apply scale-100;
		}

		&:hover img {
			@apply scale-110;
		}
	}

	// Added in versio 6.1: Fix paddings on speficic elements only with background.
	.wp-block-group,
	.wp-block-column {
		&.has-background {
			@apply p-6 sm:p-6;
		}
	}

	.no-underline a {
		text-decoration: none !important; // Override a:not(.no-underline):not(.wp-block-button__link).
	}
}