/**
 * Create and override CSS varibales.
 */

body {
	// Widths.
	--theme--layout--contentSize: 64rem; // Add same value as in theme.json / contentSize.
	--theme--layout--wideSize: 80rem; // Add same value as in theme.json / wideSize.

	// Offsets.
	--theme-offset-contentSize: calc( var(--theme--layout--contentSize) / 2 );
	--theme-offset-wideSize: calc( var(--theme--layout--wideSize) / 2 + calc( var(--wp--style--block-gap) / 2 ) );

	// Clamps.
	--theme--clamp--block-gap: clamp( var(--wp--style--block-gap), 5vw, var(--wp--style--block-gap) );

}