/* Tailwind CSS, change settings from tailwind.config.js */
@import 'base';
@tailwind components;
@import 'utilities';


/* Generic CSS for front end */
@import '01-generic/accessibility';
@import '01-generic/layout';
@import '01-generic/forms';

/* Components CSS for front end */
@import '02-components/cookiebot';
@import '02-components/disclosure-menu';

/* Blocks CSS for front end */
@import '03-blocks/button';
@import '03-blocks/quote';

