/**
 * Manually handpicked preflight rules for editor.
 */
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: theme('borderColor.DEFAULT', currentColor); /* 2 */
}

/**
 * Tailwind CSS, change settings from tailwind.config.js
 */
@import 'base';
@tailwind components;
@import 'utilities';

/* Blocks CSS for editor */
@import '03-blocks/image';
@import '03-blocks/button';
@import '03-blocks/quote';
@import '03-blocks/list';
@import '03-blocks/query';
@import '03-blocks/accordion';

