/* Tailwind CSS, change settings from tailwind.config.js */
@import 'base';
@tailwind components;
@import 'utilities';

/* Blocks CSS for editor */
@import '03-blocks/button';
@import '03-blocks/quote';

/**
 * Editor fixes
 */
.is-root-container > *:not([data-align]):not(ul):not(ol):not(.has-background) {
	@apply px-4;
}

.wp-block[data-align=right],
.wp-block[data-align=left] {
	float: none !important; /* Overwrite core styles that does image floats incrorrectly in editor */
}

.wp-block[data-align=right] > .wp-block-image {
	float: right;
	margin-left: 2em;
}

.wp-block[data-align=left] > .wp-block-image {
	float: left;
	margin-right: 2em;
}
