<!-- wp:group {"tagName":"header","align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|sm","right":"var:preset|spacing|sm","bottom":"var:preset|spacing|sm","left":"var:preset|spacing|sm"}}},"backgroundColor":"lightgray","layout":{"type":"constrained"}} -->
<header class="wp-block-group alignfull has-lightgray-background-color has-background" style="padding-top:var(--wp--preset--spacing--sm);padding-right:var(--wp--preset--spacing--sm);padding-bottom:var(--wp--preset--spacing--sm);padding-left:var(--wp--preset--spacing--sm)">
	<!-- wp:site-title /-->
</header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","align":"full","className":"site-main","layout":{"type":"default"}} -->
<main class="wp-block-group alignfull site-main" id="main">
	<!-- wp:post-content {"className":"entry-content container"} /-->
</main>
<!-- /wp:group -->

<!-- wp:group {"tagName":"footer","align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|sm","right":"var:preset|spacing|sm","bottom":"var:preset|spacing|sm","left":"var:preset|spacing|sm"}}},"backgroundColor":"black","textColor":"white","className":"site-footer mt-0","layout":{"type":"constrained"}} -->
<footer class="wp-block-group alignfull site-footer mt-0 has-white-color has-black-background-color has-text-color has-background" style="padding-top:var(--wp--preset--spacing--sm);padding-right:var(--wp--preset--spacing--sm);padding-bottom:var(--wp--preset--spacing--sm);padding-left:var(--wp--preset--spacing--sm)">
	<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"right"}} -->
	<div class="wp-block-group"><!-- wp:paragraph -->
		<p>© Copyright 2022</p>
		<!-- /wp:paragraph -->
		<!-- wp:site-title {"level":0,"isLink":false} /-->
	</div>
	<!-- /wp:group -->
</footer>
<!-- /wp:group -->