
<!-- wp:template-part {"slug":"header","tagName":"header","theme":"avidly-theme","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","className":"site-main"} -->
<main class="wp-block-group site-main" id="wp--skip-link--target">
	<!-- wp:template-part {"slug":"index-hero","theme":"avidly-theme","className":"index-hero"} /-->
	<!-- wp:template-part {"slug":"index-content","theme":"avidly-theme","className":"index-content"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","theme":"avidly-theme","className":"site-footer"} /-->